body {
    background-color: rgb(77, 77, 77);
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

nav, li {
    font-family: sans-serif;
    font-size: 15px;
}


header nav a{
  display: flexbox;
  text-decoration: none;
  margin-right: 5px;
  color: #bababa
}


header nav a:hover {

  color: white;
  border-bottom: 1px solid white;
  
}


div.retour{
  display: flex;
}
