/* Index.html */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif; 
    background: url('sky2.jpg');
}

header{
    height: 50vh;
    background-position: center;
    color: #ffff;
    text-align: center;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h1{
    color: black;
    border-bottom: 1px solid black;
}

header nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header nav a{
    color: #bababa;
    text-decoration: none;
    margin-right: 5px;
}


header nav a:hover {

    color: white;
    border-bottom: 1px solid white;

}


header .principale{
    margin-top: 40px;
}

header .principale h4 {
    margin-top: -20px;
    padding: 20px;
}

div.build {
    color: black;
    display: flex;
}