@font-face {
  font-family: "Segoe UI 7";
  src: url(Fonts/SegoeUI7.ttf)
}
body{
  margin: 0%;
  padding: 0,5%;
  font-family: 'Segoe Ui 7';
  background: url('images/bg/wallpaper8.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.nav {

  background-color: #23C7FF;
  background: url('images/startmenu/Taskbar.png');
  backdrop-filter:blur(2px);
  height:30px;;

  
}

header .nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

header .nav a{
  color: white;
  text-decoration: none;
  margin-right: 5px;
}
li {
    font-family: sans-serif;
    font-size: 15px;
}
h1, p, h2, li {
  font-family: 'Segoe Ui 7';
  margin: 20px;
  color: white;
  text-shadow: 1px 1px 5px black 

}