@font-face {
	font-family: "Segoe UI 7";
	src: url(Fonts/SegoeUI7.ttf);
}
body {
	margin: 0%;
	/*padding: 0.5%;*/
	font-family: "Segoe Ui 7";
	background: url("images/bg/crreditsbg.png");
	height: 50vh;
	background-position: center;
	color: #ffff;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

#start,
#start2 {
	width: 50px;
	position: fixed;
	bottom: 0px;
	left: -5px;
}
#start-menu {
	position: fixed;
	border-radius: 7px 7px 0px 0px;
	padding: 9px;
	bottom: 30px;
	width: 174px;
	height: 367px;
	background: url("images/startmenu/StartMenuBg.png");
	background-color: white;
	color: black;
}
.menu-item {
	padding: 5px;
	text-align: left;
	font-size: 16px;
	width: 164px;
}
.menu-item a {
	color: black;
	text-decoration: none;
}
.menu-item:hover {
	background-color: rgba(0, 140, 255, 0.308);
	text-decoration: none;
}

