@font-face {
    font-family: "Segoe UI 7";
    src: url(Fonts/SegoeUI7.ttf)
  }
body{
    margin: 0%;
    padding: 0,5%;
    font-family: 'Segoe Ui 7';
    background: url('images/bg/wallpaper7.jpg');
    height: 50vh;
    background-position: center;
    color: #ffff;
    text-align: center;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
	color: white;
}

.nav {

    background-color: #3FB9D0bb;
    background: url('images/startmenu/Taskbar.png');
    backdrop-filter:blur(2px);
    height:30px;
}

header .nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

header .principale {
	margin-top: 40px;
}

header .principale h4 {
	margin-top: -20px;
	padding: 20px;
}

.gallery {
	width: 200px;
}

.retour {
	max-width: 100%;
	height: auto;
}

p,
h1,
h2 {
	text-shadow: 2px 2px 5px black;
}
