@font-face {
    font-family: "Segoe UI 7";
    src: url(Fonts/SegoeUI7.ttf)
  }
body{
    margin: 0%;
    padding: 0,5%;
    font-family: 'Segoe Ui 7';
    background: url('images/bg/wallpaper7.jpg');
    height: 50vh;
    background-position: center;
    color: #ffff;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
    
}



h1{
    color: white;
    
}

#start, #start2 {
  width:50px;
  position: fixed;
  bottom:0px;
  left: -5px;
}
#start-menu {
  position:fixed;
  border-radius:7px 7px 0px 0px;
  padding:9px;
  bottom:30px;
  width:174px;
  height:367px;
  background: url('images/startmenu/StartMenuBg.png');
  background-color:white;
  color: black;
}
.menu-item {
  padding:5px;
  text-align: left;
  font-size: 16px;
  width:164px;
}
.menu-item a{
  color:black;
  text-decoration: none;
}
.menu-item:hover {
  background-color:rgba(0, 140, 255, 0.308);
  text-decoration: none;
}

.nav {
  background-color: #0455AAbb;
  background: url('images/startmenu/Taskbar.png');
  backdrop-filter:blur(2px);
  padding:7px;
  height:16px;
  position: fixed;
  bottom:0%;
  width:99.25%
}

.nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nav a{
  color: white;
  text-decoration: none;
  margin-right: 5px;
}
.nav p{
  color: white;
  text-decoration: none;
  margin-right: 5px;
}


.nav a:hover {

  color: white;
  border-bottom: 1px solid white;

}

.gallery {
    width:200px
}


.retour {
    max-width: 100%;
	height: auto;
}

p, h1, h2 {
    text-shadow: 2px 2px 5px black 
}
.content {
  text-align: center;
}